<div class="flex">
            <div class="meetwheather">
                <a href="/"><i class="far fa-snowflake"></i>MeetWeather<i class="far fa-snowflake"></i></a>
            </div>
            <div class="navbar_right">
                <a href="/">Home</a>
                <a href="/weather">Weather</a>
                <a href="/about">About</a>
            </div>
</div>