*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
}
.container::before{
    content: "";
    background: url('daniel-j-schwarz-HRMi72eJ-IY-unsplash.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: -1;
    opacity: 0.8;   
}


.flex{
    display: flex;
}
a{
    text-decoration: none;
}
.meetwheather{
    width: 70%;
    margin: 20px 160px;
}
.meetwheather a{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.navbar_right{
    width: 30%;
    margin: 20px 0;
    white-space: nowrap;
}
.navbar_right a{
    color:tomato;
    font-size: 120%;
    font-weight: bold;
    margin: 0px 15px;
    
}
.maincontent{
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
}
.fa-snowflake{
    margin: 0 10px;
    animation: rotation 2s linear infinite;
    
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.navbar_right a:hover{
    color: gray;
}
#mark1{
    display: none;
}

@media (max-width:890px) {
    .crossicon{
        z-index: 1;
        position: absolute;
        left: 125%;
        
    }
    .items{
        visibility: hidden;
    }
    .item{
        visibility: hidden;
    }
    .navbar_right {
        visibility: hidden;
    }
    .navbar_right a {
        display: block;
        font-size: 200%;
        text-align: center;
        margin: 10px 0;
    }
    .nabvaritems{
        margin-top: 340px;
    }
   .navbar_right a {
    display: block;
   }
    .navbaricon{
        z-index: 1;
        padding: 0 5px;
        opacity: 1;
        position: absolute;
        left: 125%;
    }
    .navbaricon div{
        width: 6vw;
        color: chocolate;
        background-color: chocolate;
        margin: 6px 0;
        z-index: 2;
        border: 3px solid;
    }
    
    #mark1{
        font-size: 240%;
        color: grey;
        display: none;
        padding: 0 5px;
        color: chocolate;
        
    }
    .navbar_right{
    width: 140%;
    margin: 20px 0;
    white-space: nowrap;
    background-color: white;
    position: absolute;
    top: -4%;
    height: 141vh;
    z-index: 1;
}
.navbar_right a {
    display: block;
    font-size: 200%;
    text-align: center;
}
}

